header {
    justify-content: space-between;
    width: 90%;
    margin: auto;
    align-items: center;
}

header a.logo-menu img {
    width: 4rem;
}

header img {
    width: 100%;
}

header a.back {
    text-align: end;
}


/*----- top post -----*/
.post {
    font-family: 'poppins';
    height: 90vh;
}

.post .top {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post .top .owner{
    display: flex;
    align-items: center;
}

.profile-pic {
    overflow: hidden;
    text-align: center;
    height: 6rem;
    width: 6rem;
    border-radius: 100%;
    position: relative;
}

.profile-pic img {
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}


.post .top .owner form button{
    font-family: 'poppins';
    background-color: transparent;
    border: none;
    color: steelblue;
    font-weight: 500;
}

.post .profile-pic {
    margin-right: 2rem;
    text-decoration: none;

}

.post .owner .username {
    text-decoration: none;
    color: inherit;
}
/*---- content ----*/
.post .content{
    /*height: 80%;*/
    margin: 2rem 0
}

.post .content .media {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100%;
    /*border-radius: 1.5rem;*/
}

.post .content .media img {
    width: 100%;
}

.post .content .media {
    position: relative;
}

.post .content .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    width: 25% !important;
    cursor: pointer;
}

/*----- reactions ----*/
.reactions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    position: relative;
}

.reactions img {
    height: 2.5rem;
}

.reactions .views {
    font-family: 'poppins';
    font-size: 1.3rem;
}

.reactions form button {
    background-color: transparent;
    border: none;
}

.guest-login {
    font-family: 'poppins';
    background-color: transparent;
    border: none;
    color: steelblue;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.5rem;
}

video {
    height: 100%;
    width: 100%;
}
main {
    margin: auto;
    margin-bottom: 10rem;
}

.heart {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
}

.heart span {
    color: black;
}


/*----------------------
        options
-----------------------*/
.showLeft {
    border: 1px solid white !important;
    text-shadow: white !important;
    color: black !important;
    padding: 10px;
  }

  .dropdown {
      position: relative;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 20;
    right: 0;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown a:hover {
    background-color: #f1f1f1;
  }

  .show {
    display: block;
  }


  /*-----------------
        Modal
-------------------*/

.delete-modal {
    background-color: white;
    border-radius: 1.5rem;
    position: fixed;
    z-index: 99;
    top: 30%;
    left: 10%;
    overflow: hidden;
    width: 80vw;
    display: none;

}

.delete-modal.show {
    display: unset;
}

.delete-modal .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #f9f9f9;
}

.delete-modal .top span {
    display: flex;
    align-items: center;
}

.delete-modal .top button {
    background-color: transparent;
    border: none;
    color: green;
    font-size: 2rem;
}

.delete-modal h3 {
    color: red;
    padding-left: 2rem;
}

.delete-modal .actions button {
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.delete-modal .yes {
    background-color: red;
}

.delete-modal .no {
    background-color: green;
}

.delete-modal .actions {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

